<html>
  <head>
    <link rel="stylesheet" href="css/common.css">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:inline="javascript">
      /*<![CDATA[*/
      var cols = ['Year','Mean','Median','Stddev'];
      var dates = /*[[${dates}]]*/ "";
      console.log(dates);
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawDaft);
      google.charts.setOnLoadCallback(drawMyHome);

      function drawDaft() {
        var data = new google.visualization.DataTable();

        data.addColumn('string',cols[0]);
        data.addColumn('number',cols[1]);
        data.addColumn('number',cols[2]);
        data.addColumn('number',cols[3]);

        var dateCounter = 0;
        /*[# th:each="partition : ${daftMap.keySet()}"]*/
          var arrayCounter = 0;
          var array = [];
          /*[# th:each="value : ${daftMap.get(partition).entrySet()}"]*/
            array.push(/*[[${value.getValue()}]]*/);
          /*[/]*/
          console.log(array);
          data.addRows([
              [dates[dateCounter++],array[arrayCounter++],array[arrayCounter+=1],array[++arrayCounter]]
          ])
        /*[/]*/
        console.log(data);

        var options = {
          title: 'Housing Results - Daft.ie',
          curveType: 'function',
          legend: { position: 'bottom' }
        };
        var chart = new google.visualization.LineChart(document.getElementById('Daft_Chart'));

        chart.draw(data, options);
      }

      function drawMyHome() {
        var data = new google.visualization.DataTable();

        data.addColumn('string',cols[0]);
        data.addColumn('number',cols[1]);
        data.addColumn('number',cols[2]);
        data.addColumn('number',cols[3]);

        var dateCounter = 0;
        /*[# th:each="partition : ${myhomeMap.keySet()}"]*/
          var arrayCounter = 0;
          var array = [];
          /*[# th:each="value : ${myhomeMap.get(partition).entrySet()}"]*/
            array.push(/*[[${value.getValue()}]]*/);
          /*[/]*/
          console.log(array);
          data.addRows([
            [dates[dateCounter++],array[arrayCounter++],array[arrayCounter+=1],array[++arrayCounter]]
          ])
        /*[/]*/
        console.log(data);

        var options = {
          title: 'Housing Results - MyHome.ie',
          curveType: 'function',
          legend: { position: 'bottom' }
        };
        var chart = new google.visualization.LineChart(document.getElementById('MyHome_Chart'));

        chart.draw(data, options);
      }
      /*]]>*/
    </script>
  </head>
  <body>
    <div id="Daft_Chart" style="float: left;width: 45vw; height: 60vh; border: 1px solid #ccc"></div>
    <div id="MyHome_Chart" style="float: left;width: 45vw; height: 60vh; border: 1px solid #ccc"></div>
    <div>
      <a href="/" class="myButton">Back</a>
  </div>
  </body>
</html>